.note-text {
  background: transparent;
  border: none;
  resize: none;
}
.add-note {
  position: relative;
  color: black;
  border: 1px solid black;
}
::placeholder {
  color: black;
}
.btn-submit {
  background: none;
  border: none;
}
.picker {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0.2rem;
  cursor: pointer;
}
.color-container {
  width: 10rem;
  height: 3rem;
  background-color: var(--note-bg-color-container);
  position: absolute;
  bottom: -18%;
  left: 6%;
  border-radius: 0.5rem;
  display: none;
  justify-content: space-around;
  align-items: center;
}
.show {
  display: flex;
}
.color-container .colors {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.default-note-bg {
  background-color: var(--default-note-bg);
}
.red {
  background-color: var(--note-bg-red);
}
.blue {
  background-color: var(--note-bg-blue);
}
.yellow {
  background-color: var(--note-bg-yellow);
}
.green {
  background-color: var(--note-bg-green);
}
.note-text.note-title {
  height: 3rem;
  font-size: 1.5rem;
  font-family: inherit;
  overflow: hidden;
  padding: 0 0.2rem;
}
.note-text.text-area {
  margin-top: 0;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0 0.2rem;
}
.note-text:focus {
  outline: none;
}

/* media query  */
@media screen and (min-width: 1000px) {
  .add-note {
    width: 25rem;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
