.main-container {
  min-height: 100vh;
}
.link {
  text-decoration: none;
  color: white;
}

.error-text {
  color: red;
}
.page-title {
  text-align: center;
  margin: 00.5rem;
}
.success-toast {
  /* display: none; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
@media screen and (min-width: 1100px) {
  .main-container {
    width: 80%;
    margin: 0 auto;
  }
}
